.contacts {
  @include container-mobile;
  position: relative;
  padding-bottom: 39px;
  padding-top: 35px;
}

.contacts::before {
  position: absolute;
  border: none;
  margin: 0;
  background: url("../img/bg-zigzag-line.svg") repeat center;
  background-size: contain;
  height: 6px;
  width: 100%;
  content: "";
  top: 0;
  left: 0;
}

.contacts__title {
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  color: $color-black;
}

.contacts__list {
  margin: 0;
  margin-bottom: 34px;
  padding: 0;
  font-size: 15px;
  line-height: 30px;
  color: $color-brown;
}

.contacts__parameter {
  width: 78px;
  vertical-align: top;
  padding-bottom: 27px;
}

.contacts__value {
  vertical-align: top;
  color: $color-brown;
}

.contacts__map {
  width: calc(100% + 60px);
  margin-left: -30px;
  margin-right: -30px;
}

.contacts__button {
  display: block;
  padding: 13px 0;
  margin-top: 38px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .contacts {
    @include container;
    padding-bottom: 57px;
    padding-top: 72px;
  }

  .contacts::before {
    height: 15px;
  }

  .contacts__title {
    position: relative;
    margin-left: -5px;
    margin-bottom: 53px;
    font-size: 43px;
  }

  .contacts__title::before {
    background: url("../img/icon-flag.svg") no-repeat center;
    position: absolute;
    content: "";
    top: -26px;
    right: 3px;
    width: 47px;
    height: 81px;
  }

  .contacts__list {
    margin-bottom: 52px;
    margin-left: -5px;
  }

  .contacts__list tbody {
    display: flex;
    justify-content: space-between;
    letter-spacing: 1px;
  }

  .contacts__list tr {
    width: 334px;
  }

  .contacts__parameter {
    width: 73px;
  }

  .contacts__map {
    width: calc(100% + 104px);
    margin-left: -52px;
    margin-right: -52px;
  }

  .contacts__button {
    display: block;
    max-width: 226px;
    padding: 15px 0;
    margin-top: 51px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 17px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    @include content-container;
    margin-bottom: 48px;
    padding-top: 179px;
  }

  .contacts::before {
    height: 23px;
    width: 93%;
    left: 40px;
  }

  .contacts__title {
    position: relative;
    font-size: 53px;
  }

  .contacts__title::before {
    background: url("../img/icon-flag.svg") no-repeat center;
    position: absolute;
    content: "";
    top: -22px;
    left: -108px;
    width: 47px;
    height: 81px;
  }

  .contacts__list tbody {
    display: table;
    justify-content: space-between;
  }

  .contacts__map {
    position: absolute;
    width: 525px;
    top: 73px;
    right: 105px;
  }

  .contacts__list {
    margin-bottom: 76px;
  }

  .contacts__button {
    margin-left: 0;
  }
}
