.form-info__text {
  font-size: 14px;
  line-height: 16px;
  margin-top: 14px;
  margin-bottom: 31px;
  padding: 0;
  font-weight: normal;
  color: $color-brown;
}

.form-info__button {
  margin-bottom: 55px;
  padding: 14px 0;
  width: 100%;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .form-info {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 0;
  }

  .form-info__text {
    padding: 0;
    margin: 0;
    padding-top: 20px;
    font-size: 17px;
    max-width: 307px;
  }

  .form-info__button {
    width: 230px;
    margin: 0;
    margin-left: -166px;
    margin-top: 3px;
    max-height: 80px;
  }
}

@media (min-width: $desktop-width) {
  .form-info__button {
    margin-left: 0;
    width: 230px;
    margin-bottom: 0;
  }

  .form-info__text {
    margin-right: 0;
  }
}
