.form-group {
  @include container-mobile;
}

@media (min-width: $tablet-width) {
  .form-group {
    @include container;
    display: flex;
    padding-top: 56px;
    padding-bottom: 50px;
  }

  .form-group__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }

  .form-group__wrapper--type1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-right: -23px;
  }

  .form-group--wide {
    @include container;
    display: flex;
    padding-top: 50px;
    padding-bottom: 26px;
  }

  .form-group--block {
    padding-top: 51px;
    padding-bottom: 41px;
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .form-group {
    @include container-desktop;
  }

  .form-group--wide {
    padding-right: 161px;
    padding-top: 53px;
  }

  .form__field--type3 .form__input {
    padding-bottom: 16px;
  }

  .form__icon-phone {
    right: 9px;
  }

  .form__icon-mail {
    right: 3px;
  }
}
