.link {
  padding-bottom: 5px;
  border-bottom: 1px solid $color-greeny-blue;
  text-decoration: none;
  color: $color-brown;
}

.link:hover {
  color: $color-greeny-blue;
}

.link:active {
  color: rgba($color-greeny-blue, 0.3);
  border-bottom: 1px solid rgba($color-greeny-blue, 0.3);
}
