.page-footer__wrapper {
  padding-top: 28px;
  padding-bottom: 31px;
}

.page-footer__logo {
  display: none;
}

.page-footer {
  background-color: $color-gray;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    @include container;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .page-footer__logo {
    color: currentColor;
    display: block;
    height: 34px;
    width: 102px;
  }

  .page-footer__logo:hover {
    color: $color-greeny-blue;
  }

  .page-footer__logo:active {
    color: rgba($color-greeny-blue, 0.3);
  }
}
