.producing-wrapper {
  position: relative;
  max-width: 1150px;
  display: flex;
  flex-direction: column;
  margin-bottom: 58px;
  border: 1px solid $color-gray;
}

.producing {
  @include container-mobile;
}

.producing-wrapper:hover {
  box-shadow: (0 6px 10px 0 rgba($color-black, 0.1));
}

.producing-wrapper:active {
  box-shadow: (0 3px 5px 0 rgba($color-black, 0.1));
}

.producing__title {
  position: relative;
  order: -1;
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
  padding-top: 26px;
  padding-left: 89px;
  text-align: left;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  color: $color-black;
}

.producing__title::before {
  background: url("../img/icon-video.svg") no-repeat center;
  position: absolute;
  content: "";
  top: 50%;
  left: 33px;
  width: 32px;
  height: 22px;
}

.producing__image {
  width: 100%;
  margin-bottom: 25px;
}

.producing__video {
  position: relative;
}

.producing__image-play {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 101px;
  height: 77px;
}

.producing__image-play:hover {
  transform: translateX(-50%) translateY(-50%) scale(1.2);
}

.producing__image-play:active {
  transform: translateX(-50%) translateY(-50%) scale(0.8);
  opacity: 0.3;
}

.producing__text {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  padding-right: 34px;
  padding-left: 34px;
  font-size: 13px;
  line-height: 24px;
  color: $color-brown;
}

.producing__button {
  text-transform: uppercase;
  display: block;
  padding: 15px 0;
  margin-right: 34px;
  margin-left: 34px;
  margin-bottom: 31px;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .producing-wrapper {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 63px;
    display: flex;
    flex-direction: column;
  }

  .producing {
    @include container;
  }

  .producing__image {
    margin-bottom: 10px;
  }

  .producing__image-play {
    top: 49%;
  }

  .producing__title {
    order: 0;
    padding-left: 107px;
    margin-bottom: 32px;
    font-size: 20px;
  }

  .producing__title::before {
    left: 41px;
  }

  .producing__text {
    padding-right: 47px;
    padding-left: 40px;
    margin-bottom: 34px;
    font-size: 15px;
    line-height: 30px;
  }

  .producing__button {
    margin-bottom: 44px;
    margin-right: 41px;
    margin-left: 42px;
  }
}

@media (min-width: $desktop-width) {
  .producing-wrapper {
    width: auto;
    padding-left: 69%;
    margin: 0;
    position: relative;
  }

  .producing {
    @include container;
    margin-bottom: 104px;
  }

  .producing__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 679px;
    height: auto;
  }

  .producing__image {
    margin: 0;
  }

  .producing__image-play {
    top: 50%;
  }

  .producing__title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 32px;
    padding-top: 96px;
    padding-left: 35px;
    width: 30px;
  }

  .producing__title::before {
    top: 48px;
    left: 36px;
  }

  .producing__text {
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 45px;
  }

  .producing__button {
    margin-bottom: 60px;
    width: 229px;
  }
}
