.slider__buttons {
  width: 100%;
  height: 52px;
  margin: 0;
  margin-bottom: 38px;
  padding: 0;
  display: flex;
  border: none;
}

.slider__button {
  width: 50%;
  border: solid 1px $color-gray;
  background-color: $color-white;
}

.slider__button:hover {
  background-color: transparent;
  border: solid 1px $color-gray;
}

.slider__button--previous {
  position: relative;
}

.slider__button--previous::after {
  background: url("../img/icon-left-arrow.svg") no-repeat center;
  content: "";
  position: absolute;
  width: 50px;
  height: 26px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.slider__button--previous:hover::after {
  opacity: 0.6;
}

.slider__button--previous:active::after {
  opacity: 0.3;
}


.slider__button--next {
  position: relative;
}

.slider__button--next::after {
  background: url("../img/icon-right-arrow.svg") no-repeat center;
  content: "";
  position: absolute;
  width: 50px;
  height: 26px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.slider__button--next:hover::after {
  opacity: 0.6;
}

.slider__button--next:active::after {
  opacity: 0.3;
}


@media (min-width: $tablet-width) {
  .slider {
    position: relative;
  }

  .slider__buttons {
    width: 175px;
    position: absolute;
    right: 0;
    bottom: 3px;
    margin: 0;
  }

  .slider__button {
    border: none;
  }

  .slider__button:hover {
    background-color: transparent;
    border: none;
  }

  .slider__button:active {
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .slider__buttons {
    right: 52px;
  }
}
