@charset "UTF-8";
@font-face {
  font-weight: normal;
  font-family: "Open Sans";
  font-style: normal;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff"); }

@font-face {
  font-weight: bold;
  font-family: "Open Sans";
  font-style: normal;
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff"); }

a {
  text-decoration: none; }

body {
  font-family: "Open Sans", "Arial", sans-serif;
  color: #000000;
  width: 100%;
  margin: 0 auto; }

.button {
  display: block;
  font-family: inherit;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
  color: #444444;
  border: solid 2px #444444;
  background-color: #ffffff; }

.button:hover {
  color: #ffffff;
  border: solid 2px #444444;
  background-color: #444444; }

.button:active {
  color: rgba(255, 255, 255, 0.3);
  border: solid 2px #444444;
  background-color: #444444; }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.page-header {
  position: relative;
  margin: 0;
  padding-top: 22px; }

.page-header__text {
  display: none; }

.page-header__logo {
  display: block;
  margin: 0 auto;
  padding-bottom: 19px;
  text-align: center; }

.page-header__logo picture {
  width: 86px;
  height: 35px; }

.page-header__logo:hover picture {
  opacity: 0.6; }

.page-header__logo:active picture {
  opacity: 0.3; }

@media (min-width: 768px) and (max-width: 1150px) {
  .page-header {
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
    max-width: 1150px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: none;
    padding-top: 0; }
  .page-header__text {
    display: inline;
    position: absolute;
    content: "";
    right: 49px;
    bottom: -38px;
    margin: 0;
    padding: 0;
    font-size: 15px;
    z-index: 1; }
  .page-header__logo {
    margin: 0;
    margin-left: -2px;
    padding-top: 22px;
    padding-bottom: 18px; }
  .page-header__logo img {
    width: 115px;
    height: 46px; }
  .main-nav__toggle {
    display: none; } }

@media (min-width: 1150px) {
  .page-header {
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
    max-width: 1150px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-bottom: none;
    padding: 0; }
  .page-header__logo img {
    width: 149px;
    height: 72px; }
  .page-header__logo {
    display: block;
    position: absolute;
    padding: 0;
    margin: 0;
    z-index: 10;
    left: 50%;
    top: 51%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%); }
  .main-nav__toggle {
    display: none; }
  .page-header__text {
    display: inline;
    position: absolute;
    content: "";
    right: 52px;
    bottom: -38px;
    margin: 0;
    padding: 0;
    font-size: 15px;
    z-index: 1; } }

.main-nav {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  color: #000000; }

.main-nav__toggle {
  position: absolute;
  top: -47px;
  right: 32px;
  width: 22px;
  height: 16px;
  background-color: transparent;
  color: transparent;
  border: none;
  cursor: pointer; }

.main-nav__toggle::before {
  background: url("../img/icon-menu-open.svg") no-repeat center;
  content: "";
  width: 20px;
  height: 14px;
  position: absolute;
  top: 0;
  right: 0; }

.main-nav--opened .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 21px;
  height: 20px;
  background: url("../img/icon-menu-close.svg") no-repeat center; }

@media (max-width: 767px) {
  .main-nav--closed .site-list {
    display: none; }
  .main-nav--nojs .main-nav__toggle {
    display: none; }
  .main-nav {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 17px;
    font-weight: bold;
    line-height: 24px;
    color: #000000; } }

@media (min-width: 768px) {
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: static; } }

.site-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.site-list a {
  color: #000000; }

.site-list__item {
  margin: 0;
  color: #000000;
  border-bottom: 1px solid #ececec; }

.site-list__link {
  padding: 32px 70px;
  display: block; }

.site-list__item:first-child {
  border-top: 1px solid #ececec; }

.site-list__item:last-child {
  border-bottom: none; }

.site-list__link:hover {
  opacity: 0.6; }

.site-list__link:active {
  opacity: 0.3; }

.site-list--third {
  display: none; }

.site-list__icon-search {
  display: none; }

.site-list__icon-cart {
  display: none; }

.site-list__text-cart {
  display: none; }

@media (min-width: 768px) and (max-width: 1150px) {
  .site-list {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .site-list__link {
    padding: 0; }
  .site-list--first {
    position: absolute;
    left: 50px;
    top: 83%;
    z-index: 1; }
  .site-list__item {
    margin: 0;
    padding: 32px 0;
    border-bottom: none; }
  .site-list--first .site-list__item {
    font-size: 15px; }
  .site-list--second .site-list__item {
    font-size: 17px;
    letter-spacing: 0.3px; }
  .site-list--first .site-list__item:first-child {
    padding-right: 37px; }
  .site-list--second .site-list__item:first-child {
    padding-left: 34px;
    padding-right: 29px;
    padding-top: 38px;
    border-left: 2px solid #ececec;
    border-right: 2px solid #ececec; }
  .site-list--second .site-list__item:last-child {
    padding-left: 32px; }
  .site-list__text-cart {
    display: inline; }
  .site-list__item:first-child {
    border-top: none; }
  .site-list--third {
    display: none; }
  .site-list__text-search {
    display: none; }
  .site-list__icon-search {
    display: block;
    opacity: 0.2; }
  .site-list__link:hover .site-list__icon-search {
    color: #63d1bb;
    opacity: 1; }
  .site-list__link:active .site-list__icon-search {
    color: rgba(99, 209, 187, 0.3); }
  .site-list__link:hover .site-list__icon-cart {
    color: #63d1bb;
    opacity: 1; }
  .site-list__link:active .site-list__icon-cart {
    color: rgba(99, 209, 187, 0.3); }
  .site-list__icon-cart {
    display: inline-block;
    padding-right: 30px;
    opacity: 0.2; }
  .site-list__text-cart-type2 {
    display: inline-block; } }

@media (min-width: 1150px) {
  .site-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .site-list__link {
    padding: 32px 0; }
  .site-list__link:hover .site-list__icon-search {
    color: #63d1bb; }
  .site-list__link:active .site-list__icon-search {
    color: rgba(99, 209, 187, 0.3); }
  .site-list__link:hover .site-list__icon-cart {
    color: #63d1bb; }
  .site-list__link:active .site-list__icon-cart {
    color: rgba(99, 209, 187, 0.3); }
  .site-list--first {
    padding-left: 49px;
    width: 50%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .site-list--second {
    padding-right: 52px;
    width: 50%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .site-list--first .site-list__item,
  .site-list--second .site-list__item {
    font-size: 17px; }
  .site-list--third .site-list__item {
    font-size: 15px; }
  .site-list__text-cart {
    display: inline; }
  .site-list--first .site-list__item:first-child {
    padding-right: 35px;
    border-right: 2px solid #ececec; }
  .site-list--first .site-list__item:last-child {
    padding-left: 35px; }
  .site-list--second .site-list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .site-list__item {
    margin: 0;
    border-bottom: none; }
  .site-list__item:first-child {
    border-top: none; }
  .site-list--third {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: absolute;
    left: 50px;
    top: 83%;
    width: 50%;
    z-index: 1; }
  .site-list--third .site-list__item:first-child {
    padding-right: 60px; }
  .site-list__text-search {
    display: none; }
  .site-list__icon-search {
    display: block;
    padding-top: 4px; }
  .site-list__icon-search:hover {
    fill: #63d1bb; }
  .site-list__icon-search:active {
    fill: rgba(99, 209, 187, 0.3); }
  .site-list--second .site-list__item:first-child {
    padding-right: 32px;
    padding-left: 32px;
    border-left: 2px solid #ececec;
    border-right: 2px solid #ececec; }
  .site-list--second .site-list__item:last-child {
    padding-left: 32px; }
  .site-list__text-cart-type1 {
    display: none; }
  .site-list__icon-cart {
    display: inline-block;
    padding-right: 33px; }
  .site-list__text-cart-type2 {
    display: inline-block; } }

.promo {
  background-color: #ececec;
  margin-bottom: 23px;
  border-top: 1px solid #ececec; }

.promo__wrapper {
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  max-width: 1150px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.promo--toys {
  margin-bottom: 27px;
  background: #ececec url("../img/hero-mobile@1x.jpg") no-repeat top; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .promo--toys {
      background-image: url("../img/hero-mobile@2x.jpg");
      background-size: 575px auto;
      background-position-y: -18px; } }

.promo--toys .promo__title {
  padding-top: 70px;
  padding-bottom: 123px;
  text-align: center;
  margin: 0 auto; }

.promo__title {
  margin: 0;
  padding: 0;
  padding-top: 70px;
  padding-bottom: 75px;
  font-size: 27px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
  color: #000000; }

.promo__buttons {
  margin: 0 -30px; }

.promo__button {
  margin: 0;
  padding-left: 28px;
  padding-right: 180px;
  padding-top: 25px;
  padding-bottom: 30px;
  font-size: 19px;
  font-weight: bold;
  line-height: 24px;
  color: #ffffff;
  display: block;
  position: relative; }

.promo__button:hover {
  margin-top: -5px;
  color: rgba(255, 255, 255, 0.7); }

.promo__button--style-1:hover::after,
.promo__button--style-2:hover::after {
  opacity: 0.7; }

.promo__button:active {
  color: rgba(255, 255, 255, 0.3); }

.promo__button--style-1:active::after,
.promo__button--style-2:active::after {
  opacity: 0.3; }

.promo__button--style-1 {
  background-color: #63d1bb; }

.promo__button--style-1::after {
  background: url("../img/icon-interior.svg") no-repeat center;
  content: "";
  position: absolute;
  width: 40px;
  height: 62px;
  opacity: 0.5;
  top: 22px;
  right: 35px; }

.promo__button--style-2 {
  background-color: #56c3b2; }

.promo__button--style-2::after {
  background: url("../img/icon-toy.svg") no-repeat center;
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  opacity: 0.5;
  top: 20px;
  right: 26px; }

@media (min-width: 768px) {
  .promo {
    margin-bottom: 58px;
    position: relative; }
  .promo__wrapper {
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
    max-width: 1150px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .promo--toys {
    position: relative;
    margin-bottom: 55px;
    background: url("../img/hero-tablet.jpg") no-repeat top; } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
    .promo--toys {
      background-image: url("../img/hero-tablet@2x.jpg");
      background-size: 1150px auto; } }

@media (min-width: 768px) {
  .promo--toys .promo__title {
    text-align: center;
    padding-bottom: 375px;
    padding-top: 154px;
    font-size: 43px;
    line-height: 48px; }
  .promo__title {
    padding-bottom: 91px;
    padding-top: 94px;
    font-size: 43px;
    line-height: 50px; }
  .promo__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 0; }
  .promo__button {
    width: 50%;
    letter-spacing: 0.3px;
    padding-left: 37px;
    padding-right: 170px;
    padding-top: 30px;
    line-height: 29px;
    text-align: left; }
  .promo__button--style-1::after {
    top: 30px; }
  .promo__button--style-2::after {
    top: 33px;
    right: 35px; }
  .promo::after {
    background: url("../img/bg-zigzag-fill.svg") repeat center;
    content: "";
    position: absolute;
    height: 35px;
    bottom: -1px;
    width: 100%; }
  .promo--toys::after {
    background: url("../img/bg-zigzag-fill.svg") repeat center;
    content: "";
    position: absolute;
    height: 34px;
    bottom: -20px;
    width: 100%; } }

@media (min-width: 1150px) {
  .promo__wrapper {
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
    max-width: 1150px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 140px; }
  .promo {
    margin-bottom: 122px; }
  .promo--toys {
    margin-bottom: 0;
    background: url("../img/hero-desktop@1x.jpg") no-repeat top;
    background-color: #f9f9f9;
    background-position-x: 0; } }
  @media (min-width: 1150px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1150px) and (min-resolution: 144dpi), (min-width: 1150px) and (min-resolution: 1.5dppx) {
    .promo--toys {
      background-image: url("../img/hero-desktop@2x.jpg");
      background-size: 1150px auto; } }

@media (min-width: 1150px) {
  .promo__title {
    padding-top: 93px;
    padding-bottom: 100px;
    font-size: 53px;
    line-height: 57px; }
  .promo::after {
    bottom: -1px; }
  .promo--toys::after {
    bottom: -19px; }
  .promo--toys .promo__title {
    padding-top: 152px;
    padding-bottom: 358px;
    font-size: 53px;
    line-height: 57px; }
  .promo__button {
    padding-right: 370px; } }

.hit-sale {
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  max-width: 1150px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 36px; }

.hit-sale__title {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
  color: #000000; }

.hit-sale__subtitle {
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 20px;
  color: #63d1bb; }

.hit-sale__text {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  font-size: 15px;
  line-height: 24px;
  color: #444444; }

.hit-sale__description {
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
  font-size: 15px;
  line-height: 20px;
  color: #444444;
  width: 100%;
  border-collapse: collapse; }

.hit-sale__parameter {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 67px; }

.hit-sale__value {
  padding-left: 30px; }

.hit-sale__parameter,
.hit-sale__value {
  border-bottom: 1px solid #ececec; }

.hit-sale__img {
  width: 100%;
  margin-bottom: 20px; }

.hit-sale__price {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
  color: #444444; }

.hit-sale__button {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 17px;
  width: 100%; }

.hit-sale__form-container {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9); }

.hit-sale__form {
  padding-top: 36px;
  padding-bottom: 36px;
  padding-left: 30px;
  padding-right: 30px;
  max-width: 320px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  border: 1px solid 0;
  background-color: rgba(255, 255, 255, 0.9); }

.hit-sale__form--hidden {
  display: none; }

.hit-sale__form-title {
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  width: 200px;
  margin: 0 auto;
  padding-bottom: 25px; }

.hit-sale__form-text {
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  width: 200px;
  margin: 0 auto;
  color: #444444;
  padding-bottom: 25px; }

.hit-sale__form-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 31px; }

.hit-sale__form-button {
  padding: 20px 34px;
  border: 2px solid rgba(68, 68, 68, 0.1); }

.hit-sale__form-button:hover {
  border: 2px solid rgba(68, 68, 68, 0.3);
  background-color: #ffffff;
  color: #444444; }

.hit-sale__form-button:active {
  background-color: #ffffff;
  color: #444444;
  border: 2px solid #63d1bb; }

.hit-sale__button-order {
  color: #ffffff;
  background-color: #63d1bb;
  width: 100%;
  padding: 20px 0;
  border: none; }

@media (min-width: 768px) {
  .hit-sale {
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
    max-width: 1150px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-bottom: 53px; }
  .hit-sale__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .hit-sale__column {
    padding-right: 57%;
    position: relative; }
  .hit-sale__title {
    margin-bottom: 61px;
    font-size: 43px; }
  .hit-sale__text {
    margin-bottom: 36px;
    font-size: 17px;
    line-height: 29px; }
  .hit-sale__description {
    margin-bottom: 55px; }
  .hit-sale__parameter {
    width: 22%; }
  .hit-sale__subtitle {
    width: 128px;
    text-align: center; }
  .hit-sale__price {
    margin-bottom: 34px;
    font-size: 20px; }
  .hit-sale__img {
    position: absolute;
    top: 7px;
    right: 0;
    width: 333px;
    height: 404px;
    margin: 0; }
  .hit-sale__button {
    width: 101%;
    padding: 14px 0; }
  .hit-sale__form {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    max-width: 768px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid 0; } }

@media (min-width: 1150px) {
  .hit-sale {
    padding-left: 225px;
    padding-right: 0;
    margin: 0 auto;
    max-width: 1150px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-bottom: 73px; }
  .hit-sale__column {
    padding-right: 69%; }
  .hit-sale__img {
    position: absolute;
    width: 525px;
    height: auto;
    top: -157px;
    right: 50px;
    z-index: -1; }
  .hit-sale__header {
    position: relative; }
  .hit-sale__title {
    font-size: 53px;
    margin-right: auto;
    margin-left: -6px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  .hit-sale__subtitle {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-left: -110px;
    position: absolute;
    content: "Товар недели";
    top: -4px;
    left: -49px; }
  .hit-sale__text {
    margin-bottom: 49px; }
  .hit-sale__description {
    margin-bottom: 109px; }
  .hit-sale__parameter {
    width: 20%; }
  .hit-sale__button {
    margin-bottom: 0; }
  .hit-sale__form {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    max-width: 1150px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid 0; } }

.divider {
  border: none;
  margin: 0;
  background: url("../img/bg-zigzag-line.svg") repeat center;
  background-size: contain;
  height: 6px; }

@media (min-width: 768px) {
  .divider {
    height: 15px; } }

@media (min-width: 1150px) {
  .divider {
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
    max-width: 1150px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 23px;
    width: 93%; } }

.info {
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  max-width: 1150px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 50px;
  padding-top: 27px; }

.info__title {
  margin: 0;
  padding: 0;
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
  color: #000000; }

.info__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.info__item {
  margin: 0;
  padding: 0;
  padding-top: 84px;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  color: #000000; }

.info__item--flower {
  position: relative; }

.info__item--flower::after {
  background: url("../img/icon-feature-flower.svg") no-repeat center;
  content: "";
  position: absolute;
  width: 32px;
  height: 37px;
  top: 30px;
  left: 9px; }

.info__item--money {
  position: relative; }

.info__item--money::after {
  background: url("../img/icon-feature-money.svg") no-repeat center;
  content: "";
  position: absolute;
  width: 47px;
  height: 30px;
  top: 28px;
  left: 1px; }

.info__item--heart {
  position: relative; }

.info__item--heart::after {
  background: url("../img/icon-feature-heart.svg") no-repeat center;
  content: "";
  position: absolute;
  width: 34px;
  height: 27px;
  top: 34px;
  left: 8px; }

.info__item--ball {
  position: relative; }

.info__item--ball::after {
  background: url("../img/icon-feature-ball.svg") no-repeat center;
  content: "";
  position: absolute;
  width: 35px;
  height: 34px;
  top: 32px;
  left: 3px; }

.info__item--rocket {
  position: relative; }

.info__item--rocket::after {
  background: url("../img/icon-feature-rocket.svg") no-repeat center;
  content: "";
  position: absolute;
  width: 55px;
  height: 23px;
  top: 30px;
  left: -6px; }

.info__item--present {
  position: relative; }

.info__item--present::after {
  background: url("../img/icon-feature-gift.svg") no-repeat center;
  content: "";
  position: absolute;
  width: 33px;
  height: 32px;
  top: 28px;
  left: 2px; }

@media (min-width: 768px) {
  .info {
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
    max-width: 1150px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-bottom: 82px;
    padding-top: 60px; }
  .info__title {
    margin-left: -5px;
    font-size: 43px; }
  .info__list-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .info__list--second {
    padding-left: 12px; }
  .info__item {
    padding-top: 115px;
    font-size: 20px; }
  .info__item--flower::after {
    top: 60px; }
  .info__item--money::after {
    top: 59px; }
  .info__item--heart::after {
    top: 65px; }
  .info__item--ball::after {
    top: 62px;
    left: 2px; }
  .info__item--rocket::after {
    top: 63px; }
  .info__item--present::after {
    top: 61px; } }

@media (min-width: 1150px) {
  .info {
    padding-left: 225px;
    padding-right: 279px;
    margin: 0 auto;
    max-width: 1150px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-bottom: 89px;
    padding-top: 74px; }
  .info__title {
    font-size: 53px; }
  .info__item {
    font-size: 20px; }
  .info__item--flower,
  .info__item--clew {
    padding-top: 117px; }
  .info__list--second {
    padding-left: 62px; } }

.reviews {
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  max-width: 1150px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 45px; }

.reviews__title {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
  color: #000000; }

.reviews__text {
  margin: 0;
  margin-bottom: 27px;
  padding: 0;
  font-size: 15px;
  line-height: 30px;
  color: #444444; }

.reviews__name {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  color: #000000; }

.reviews__nick {
  letter-spacing: 0.5px;
  margin: 0;
  margin-top: 3px;
  margin-bottom: 30px;
  padding: 0;
  font: inherit;
  line-height: 30px;
  color: #444444;
  display: block; }

.review__button {
  text-transform: uppercase;
  padding: 14px 0;
  font-size: 18px;
  width: 99%; }

@media (min-width: 768px) {
  .reviews {
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
    max-width: 1150px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-top: 90px;
    padding-bottom: 85px;
    position: relative; }
  .reviews::before {
    background: url("../img/review@1x.jpg") no-repeat center;
    position: absolute;
    content: "";
    z-index: 0;
    top: 3px;
    left: 0;
    width: 350px;
    height: 457px; } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
    .reviews::before {
      background: url("../img/review@2x.jpg") no-repeat top;
      background-size: 350px auto; } }

@media (min-width: 768px) {
  .reviews__title {
    margin-left: -5px;
    margin-bottom: 59px;
    font-size: 43px;
    position: relative;
    z-index: 1; }
  .reviews__text {
    font-size: 17px;
    margin-bottom: 58px; }
  .review__button {
    padding: 14px 38px;
    font-size: 17px;
    position: absolute;
    right: 0;
    bottom: 100%;
    margin-bottom: 45px;
    width: auto; }
  .reviews__name {
    letter-spacing: 0.7px; } }

@media (min-width: 1150px) {
  .reviews {
    padding-left: 225px;
    padding-right: 0;
    margin: 0 auto;
    max-width: 1150px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-top: 88px;
    padding-bottom: 130px;
    position: relative; }
  .reviews::before {
    top: 3px;
    left: 50px; }
  .reviews__title {
    font-size: 53px;
    margin-bottom: 60px; }
  .reviews__text {
    margin-bottom: 41px;
    margin-right: 124px; }
  .reviews__name {
    letter-spacing: 0; }
  .review__button {
    right: 52px; } }

.slider__buttons {
  width: 100%;
  height: 52px;
  margin: 0;
  margin-bottom: 38px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none; }

.slider__button {
  width: 50%;
  border: solid 1px #ececec;
  background-color: #ffffff; }

.slider__button:hover {
  background-color: transparent;
  border: solid 1px #ececec; }

.slider__button--previous {
  position: relative; }

.slider__button--previous::after {
  background: url("../img/icon-left-arrow.svg") no-repeat center;
  content: "";
  position: absolute;
  width: 50px;
  height: 26px;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%); }

.slider__button--previous:hover::after {
  opacity: 0.6; }

.slider__button--previous:active::after {
  opacity: 0.3; }

.slider__button--next {
  position: relative; }

.slider__button--next::after {
  background: url("../img/icon-right-arrow.svg") no-repeat center;
  content: "";
  position: absolute;
  width: 50px;
  height: 26px;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%); }

.slider__button--next:hover::after {
  opacity: 0.6; }

.slider__button--next:active::after {
  opacity: 0.3; }

@media (min-width: 768px) {
  .slider {
    position: relative; }
  .slider__buttons {
    width: 175px;
    position: absolute;
    right: 0;
    bottom: 3px;
    margin: 0; }
  .slider__button {
    border: none; }
  .slider__button:hover {
    background-color: transparent;
    border: none; }
  .slider__button:active {
    border: none; } }

@media (min-width: 1150px) {
  .slider__buttons {
    right: 52px; } }

.contacts {
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  max-width: 1150px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 39px;
  padding-top: 35px;
  position: relative; }

.contacts__title {
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  color: #000000; }

.contacts__list {
  margin: 0;
  margin-bottom: 34px;
  padding: 0;
  font-size: 15px;
  line-height: 30px;
  color: #444444; }

.contacts__parameter {
  width: 78px;
  vertical-align: top;
  padding-bottom: 27px; }

.contacts__value {
  vertical-align: top;
  color: #444444; }

.contacts__map {
  width: calc(100% + 60px);
  margin-left: -30px;
  margin-right: -30px; }

.contacts__button {
  display: block;
  padding: 13px 0;
  margin-top: 38px;
  text-transform: uppercase; }

@media (min-width: 768px) {
  .contacts {
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
    max-width: 1150px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-bottom: 57px;
    padding-top: 72px; }
  .contacts__title {
    position: relative;
    margin-left: -5px;
    margin-bottom: 53px;
    font-size: 43px; }
  .contacts__title::before {
    background: url("../img/icon-flag.svg") no-repeat center;
    position: absolute;
    content: "";
    top: -26px;
    right: 3px;
    width: 47px;
    height: 81px; }
  .contacts__list {
    margin-bottom: 52px;
    margin-left: -5px; }
  .contacts__list tbody {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    letter-spacing: 1px; }
  .contacts__list tr {
    width: 334px; }
  .contacts__parameter {
    width: 73px; }
  .contacts__map {
    width: calc(100% + 104px);
    margin-left: -52px;
    margin-right: -52px; }
  .contacts__button {
    display: block;
    max-width: 226px;
    padding: 15px 0;
    margin-top: 51px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 17px; } }

@media (min-width: 1150px) {
  .contacts {
    padding-left: 225px;
    padding-right: 0;
    margin: 0 auto;
    max-width: 1150px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 48px;
    padding-top: 157px; }
  .contacts__title {
    position: relative;
    font-size: 53px; }
  .contacts__title::before {
    background: url("../img/icon-flag.svg") no-repeat center;
    position: absolute;
    content: "";
    top: -22px;
    left: -108px;
    width: 47px;
    height: 81px; }
  .contacts__list tbody {
    display: table;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .contacts__map {
    position: absolute;
    width: 525px;
    top: 73px;
    right: 105px; }
  .contacts__list {
    margin-bottom: 76px; }
  .contacts__button {
    margin-left: 0; } }

.link {
  padding-bottom: 5px;
  border-bottom: 1px solid #46c1ae;
  text-decoration: none;
  color: #444444; }

.link:hover {
  color: #46c1ae; }

.link:active {
  color: rgba(70, 193, 174, 0.3);
  border-bottom: 1px solid rgba(70, 193, 174, 0.3); }

.page-footer__wrapper {
  padding-top: 28px;
  padding-bottom: 31px; }

.page-footer__logo {
  display: none; }

.page-footer {
  background-color: #ececec; }

@media (min-width: 768px) {
  .page-footer__wrapper {
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
    max-width: 1150px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px; }
  .page-footer__logo {
    color: currentColor;
    display: block;
    height: 34px;
    width: 102px; }
  .page-footer__logo:hover {
    color: #46c1ae; }
  .page-footer__logo:active {
    color: rgba(70, 193, 174, 0.3); } }

.social {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.social-wrapper {
  margin-left: 30px;
  margin-right: 30px;
  padding-bottom: 23px;
  border-bottom: 1px solid rgba(68, 68, 68, 0.3); }

.social__item {
  padding-right: 41px;
  padding-left: 0; }

.social__item:last-child {
  padding-right: 0; }

.social__link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: currentColor; }

.social__link:hover {
  color: #46c1ae; }

.social__link:active {
  color: rgba(70, 193, 174, 0.3); }

@media (min-width: 768px) {
  .social-wrapper {
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 0;
    padding-left: 80px;
    padding-top: 8px;
    border-bottom: none; } }

.copyright {
  text-align: center;
  padding-top: 18px; }

.copyright__text {
  font-size: 19px;
  font-weight: bold;
  line-height: 18px;
  color: #000000; }

.copyright__text:active {
  color: rgba(0, 0, 0, 0.3); }

.copyright__logo {
  padding-left: 27px;
  margin-bottom: -10px; }

.copyright__link {
  color: #63d1bb;
  height: 34px;
  width: 102px; }

.copyright__link:hover {
  color: #46c1ae; }

.copyright__link:active {
  color: rgba(70, 193, 174, 0.3); }

@media (min-width: 768px) {
  .copyright {
    padding: 0;
    margin-right: -2px;
    padding-top: 5px; } }

.goods {
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  max-width: 1150px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 9px; }

.goods__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.goods__img {
  width: 100%;
  display: block; }

.goods__info {
  padding: 0 28px;
  padding-top: 26px;
  padding-bottom: 27px;
  margin-bottom: 30px;
  border: 1px solid #ececec; }

.goods__info:hover {
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1); }

.goods__info:active {
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1); }

.goods__title {
  display: block;
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  color: #000000; }

.goods__title:hover {
  color: rgba(0, 0, 0, 0.6); }

.goods__title:active {
  color: rgba(0, 0, 0, 0.3); }

.goods__text {
  display: block;
  margin: 0;
  padding: 0;
  padding-bottom: 19px;
  font-size: 13px;
  line-height: 30px;
  color: #444444; }

.goods__price {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-weight: bold;
  line-height: 24px;
  color: #000000;
  display: inline-block; }

.goods__cart {
  opacity: 0.2; }

.goods__cart:hover {
  color: #63d1bb;
  opacity: 1; }

.goods__cart:active {
  color: #63d1bb;
  opacity: 0.3; }

.goods__buy {
  padding-top: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #ececec; }

@media (min-width: 768px) {
  .goods {
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
    max-width: 1150px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .goods__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 54px; }
  .goods__info {
    margin: 0;
    padding-top: 26px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .goods__title {
    margin-bottom: 5px;
    font-size: 20px; }
  .goods__text {
    font-size: 15px;
    padding: 0; }
  .goods__buy {
    margin-bottom: -3px;
    margin-left: 2px; }
  .goods__price {
    font-size: 17px; } }

@media (min-width: 1150px) {
  .goods__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0; }
  .goods__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .goods__info {
    margin: 0;
    padding-left: 25px;
    padding-top: 25px; }
  .goods__text {
    margin-bottom: 15px; }
  .goods__buy {
    margin-bottom: -1px;
    margin-left: 0; }
  .goods {
    margin-bottom: 57px; } }

.producing-wrapper {
  position: relative;
  max-width: 1150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 58px;
  border: 1px solid #ececec; }

.producing {
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  max-width: 1150px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.producing-wrapper:hover {
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1); }

.producing-wrapper:active {
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1); }

.producing__title {
  position: relative;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
  padding-top: 26px;
  padding-left: 89px;
  text-align: left;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  color: #000000; }

.producing__title::before {
  background: url("../img/icon-video.svg") no-repeat center;
  position: absolute;
  content: "";
  top: 50%;
  left: 33px;
  width: 32px;
  height: 22px; }

.producing__image {
  width: 100%;
  margin-bottom: 25px; }

.producing__video {
  position: relative; }

.producing__image-play {
  position: absolute;
  content: "";
  top: 40%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 101px;
  height: 77px; }

.producing__image-play:hover {
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1.2);
          transform: translateX(-50%) translateY(-50%) scale(1.2); }

.producing__image-play:active {
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
          transform: translateX(-50%) translateY(-50%) scale(0.8);
  opacity: 0.3; }

.producing__text {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  padding-right: 34px;
  padding-left: 34px;
  font-size: 13px;
  line-height: 24px;
  color: #444444; }

.producing__button {
  text-transform: uppercase;
  display: block;
  padding: 15px 0;
  margin-right: 34px;
  margin-left: 34px;
  margin-bottom: 31px; }

@media (min-width: 768px) and (max-width: 1150px) {
  .producing-wrapper {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 63px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .producing {
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
    max-width: 1150px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .producing__image {
    margin-bottom: 10px; }
  .producing__image-play {
    top: 49%; }
  .producing__title {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    padding-left: 107px;
    margin-bottom: 32px;
    font-size: 20px; }
  .producing__title::before {
    left: 41px; }
  .producing__text {
    padding-right: 47px;
    padding-left: 40px;
    margin-bottom: 34px;
    font-size: 15px;
    line-height: 30px; }
  .producing__button {
    margin-bottom: 44px;
    margin-right: 41px;
    margin-left: 42px; } }

@media (min-width: 1150px) {
  .producing-wrapper {
    width: auto;
    padding-left: 69%;
    margin: 0;
    position: relative; }
  .producing {
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
    max-width: 1150px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 104px; }
  .producing__video {
    position: absolute;
    content: "";
    right: 0;
    left: 0;
    width: 679px;
    height: auto; }
  .producing__image {
    margin: 0; }
  .producing__image-play {
    top: 50%; }
  .producing__title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 32px;
    padding-top: 96px;
    padding-left: 35px;
    width: 30px; }
  .producing__title::before {
    top: 32%;
    left: 36px; }
  .producing__text {
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 45px; }
  .producing__button {
    margin-bottom: 60px;
    width: 229px; } }

.page-main__text {
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  max-width: 1150px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 24px;
  color: #444444; }

@media (min-width: 768px) {
  .page-main__text {
    font-size: 17px;
    line-height: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 3px; } }

@media (min-width: 1150px) {
  .page-main__text {
    max-width: 702px;
    padding: 0; } }

.form__title {
  position: relative;
  margin: 0;
  padding-bottom: 25px;
  padding-top: 25px;
  font-size: 17px;
  font-weight: bold;
  line-height: 16px;
  color: #63d1bb;
  text-transform: uppercase; }

.form-row .form__title {
  padding-top: 15px;
  padding-bottom: 22px; }

.form__title::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: 32px;
  left: 0;
  background-color: #63d1bb;
  z-index: -1; }

.form-row .form__title::after {
  top: 23px; }

.form__input--mail {
  margin-bottom: 8px; }

.form__line {
  background-color: white;
  padding-right: 25px; }

.form__text {
  display: inline-block;
  margin: 0;
  padding: 0;
  padding-left: 45px;
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
  color: #000000; }

.form__input {
  font-family: inherit;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
  margin-bottom: 17px;
  padding-bottom: 16px;
  border: none;
  border-bottom: 2px solid #000000;
  width: 100%; }

.form__input:hover {
  border-bottom: 2px solid #63d1bb; }

.form__input:active {
  border-bottom: 2px solid #63d1bb;
  color: #444444; }

.form__field label {
  position: relative;
  padding-left: 62px; }

.form__radio {
  position: absolute;
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 35px;
  height: 35px;
  left: 0;
  top: 0;
  border: 2px solid #444444;
  border-radius: 100%; }

.form__radio:last-child {
  margin-bottom: 5px; }

.form__checkbox {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  width: 36px;
  height: 35px;
  left: 0;
  top: 0;
  border: 2px solid #444444; }

input[type="radio"]:checked + .form__radio::before {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  position: absolute;
  display: block;
  background-color: #63d1bb; }

input[type="checkbox"]:checked + .form__checkbox {
  background: url("../img/icon-tick.svg") no-repeat center; }

.form__radio:hover,
.form__checkbox:hover {
  border: 2px solid #63d1bb; }

.form__radio:active,
.form__checkbox:active {
  border: 2px solid rgba(68, 68, 68, 0.3); }

input.form__text:focus + span {
  outline: 1px solid #81b3d2; }

.form__field--type3 label {
  padding-left: 0;
  padding-bottom: 14px;
  padding-top: 5px; }

.form__icon-phone {
  position: absolute;
  content: "";
  bottom: 29px;
  right: 8px;
  width: 25px;
  height: 32px;
  opacity: 0.2; }

.form__icon-mail {
  position: absolute;
  content: "";
  bottom: 27px;
  right: 3px;
  width: 35px;
  height: 29px;
  opacity: 0.2; }

.form__title--additional {
  padding-top: 15px; }

.form__line--additional {
  padding-top: 15px; }

.form__title--additional::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: 23px;
  left: 0;
  background-color: #63d1bb;
  z-index: -1; }

.form-row .form__input:hover ~ .form__icon-phone {
  color: #63d1bb; }

.form__input-phone:active ~ .form__icon-phone {
  color: #63d1bb; }

.form-row .form__input:hover ~ .form__icon-mail {
  color: #63d1bb; }

.form__input-phone:active ~ .form__icon-mail {
  color: #63d1bb; }

.form__title--email {
  margin-bottom: 27px;
  position: relative; }

.form__textarea {
  border: 2px solid black;
  width: 100%;
  resize: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 140px;
  padding-left: 15px;
  padding-top: 13px; }

.form__textarea:hover {
  border: 2px solid #63d1bb; }

@media (min-width: 768px) {
  input[type="radio"]:checked + .form__radio::before {
    content: "";
    width: 22px;
    height: 22px; }
  .form__field--type3 label {
    padding-left: 0;
    padding-bottom: 0; }
  .form__radio {
    width: 49px;
    height: 49px;
    top: 1px;
    left: 1px; }
  .form__checkbox {
    width: 50px;
    height: 49px; }
  .form__title {
    display: block;
    width: 166px;
    padding-top: 17px;
    padding-bottom: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  .form__title::after {
    display: none; }
  .form__line--gray {
    background-color: #ececec; }
  .form__field {
    padding: 0; }
  .form__field:first-child {
    max-width: 100%; }
  .form__field--type3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    padding-bottom: 0;
    margin: 0; }
  .form__field--type3 .form__text {
    padding-top: 11px; }
  .form__field--type3 .form__input {
    margin-left: 30px;
    padding-left: 16px;
    padding-top: 11px;
    margin-bottom: 29px;
    padding-bottom: 17px; }
  .form__field--type3:last-child .form__input {
    margin-bottom: 0; }
  .form__input {
    background-color: transparent;
    padding-bottom: 10px;
    padding-left: 19px;
    margin-bottom: 4px; }
  .form__icon-phone {
    bottom: 15px;
    right: 25px; }
  .form__icon-mail {
    bottom: 15px;
    right: 20px; } }

@media (min-width: 1150px) {
  .form__title {
    width: 111px;
    padding-top: 19px; }
  .form__radio {
    width: 46px;
    height: 46px;
    top: 4px;
    left: 0; } }

.form-group {
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  max-width: 1150px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

@media (min-width: 768px) {
  .form-group {
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
    max-width: 1150px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 56px;
    padding-bottom: 50px; }
  .form-group__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%; }
  .form-group__wrapper--type1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    margin-right: -23px; }
  .form-group--wide {
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
    max-width: 1150px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 50px;
    padding-bottom: 26px; }
  .form-group--block {
    padding-top: 51px;
    padding-bottom: 41px;
    display: block; } }

@media (min-width: 1150px) {
  .form-group {
    padding-left: 114px;
    padding-right: 225px;
    margin: 0 auto;
    max-width: 1150px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .form-group--wide {
    padding-right: 161px;
    padding-top: 53px; }
  .form__field--type3 .form__input {
    padding-bottom: 16px; }
  .form__icon-phone {
    right: 9px; }
  .form__icon-mail {
    right: 3px; } }

.radio .form__text {
  min-height: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 0; }

.radio:first-child {
  margin-bottom: -2px; }

@media (min-width: 768px) {
  .radio:last-child .form__text {
    padding-bottom: 0; }
  .radio .form__text {
    padding-bottom: 23px;
    padding-left: 82px;
    min-height: 53px;
    font-size: 18px;
    line-height: 20px; } }

.checkbox label {
  padding-bottom: 21px; }

.checkbox:last-child label {
  padding-bottom: 8px; }

.checkbox .form__text {
  min-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

@media (min-width: 768px) {
  .checkbox label {
    padding-bottom: 21px;
    padding-left: 82px; }
  .checkbox:last-child label {
    padding-bottom: 8px; }
  .checkbox .form__text {
    min-height: 55px; }
  .checkbox {
    width: 50%; } }

@media (min-width: 1150px) {
  .checkbox {
    width: 33.3%; } }

.form-row {
  position: relative; }

@media (min-width: 768px) {
  .form-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 23px; }
  .form-row:last-child {
    margin-bottom: 0; } }

.form-info__text {
  font-size: 14px;
  line-height: 16px;
  margin-top: 14px;
  margin-bottom: 31px;
  padding: 0;
  font-weight: normal;
  color: #444444; }

.form-info__button {
  margin-bottom: 55px;
  padding: 14px 0;
  width: 100%;
  text-align: center; }

@media (min-width: 768px) {
  .form-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 0; }
  .form-info__text {
    padding: 0;
    margin: 0;
    padding-top: 20px;
    font-size: 17px; }
  .form-info__button {
    width: 230px;
    margin: 0;
    margin-left: -166px;
    margin-top: 3px; } }

@media (min-width: 1150px) {
  .form-info__button {
    margin-left: 0;
    width: 230px;
    margin-bottom: 0; }
  .form-info__text {
    margin-right: 0; } }

@media (min-width: 768px) {
  .content-section--gray {
    background-color: #ececec; } }

/*# sourceMappingURL=style.css.map */
