.checkbox label {
  padding-bottom: 21px;
}

.checkbox:last-child label {
  padding-bottom: 8px;
}

.checkbox .form__text {
  min-height: 40px;
  display: flex;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .checkbox label {
    padding-bottom: 21px;
    padding-left: 82px;
  }

  .checkbox:last-child label {
    padding-bottom: 8px;
  }

  .checkbox .form__text {
    min-height: 52px;
  }

  .checkbox {
    width: 50%;
  }
}

@media (min-width: $desktop-width) {
  .checkbox {
    width: 33.3%;
  }
}
