.contacts {
  @include container-mobile;
  margin-bottom: 39px;
  margin-top: 44px;
  position: relative;
}

.contacts__title {
  margin: 0;
  margin-bottom: 42px;
  padding: 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  color: $color-black;
}

.contacts__list {
  margin: 0;
  margin-bottom: 42px;
  padding: 0;
  font-size: 15px;
  line-height: 30px;
  color: $color-brown;
}

.contacts__parameter {
  width: 78px;
  vertical-align: top;
}

.contacts__value {
  color: $color-brown;
}

.contacts__value--email {
  border-bottom: 1px solid $color-blue;
}

.contacts__map {
  width: calc(100% + 60px);
  margin-left: -30px;
  margin-right: -30px;
}

.contacts__pin {
  position: absolute;
  right: 188px;
  top: 377px;
}

.contacts__button {
  display: block;
  padding: 20px 52px;
  margin-top: 39px;
}

@media (min-width: $tablet-width) {
  .contacts {
    @include container;
    margin-bottom: 57px;
    margin-top: 72px;
    position: relative;
  }

  .contacts::before {
    background: url("../img/icon-flag.svg") no-repeat center;
    position: absolute;
    content: "";
    top: -22px;
    left: 591px;
    width: 47px;
    height: 81px;
  }

  .contacts__title {
    font-size: 43px;
  }

  .contacts__list {
    margin-bottom: 61px;
  }

  .contacts__list tbody {
    display: flex;
    justify-content: space-between;
  }

  .contacts__map {
    width: calc(100% + 104px);
    margin-left: -52px;
    margin-right: -52px;
  }

  .contacts__pin {
    position: absolute;
    right: 380px;
    top: 366px;
  }

  .contacts__button {
    display: block;
    width: 35%;
    padding: 20px 0;
    margin-top: 55px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    @include content-container;
    margin-bottom: 105px;
    margin-top: 152px;
    position: relative;
  }

  .contacts::before {
    background: url("../img/icon-flag.svg") no-repeat center;
    position: absolute;
    content: "";
    top: -22px;
    left: 60px;
    width: 47px;
    height: 81px;
  }

  .contacts__list tbody {
    display: table;
    justify-content: space-between;
  }

  .contacts__title {
    font-size: 53px;
  }

  .contacts__map {
    position: absolute;
    width: 525px;
    top: -127px;
    right: 126px;
  }

  .contacts__pin {
    position: absolute;
    right: 300px;
    top: 0;
  }

  .contacts__button {
    margin-left: 0;
  }
}
