.contacts {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 39px;
}

.contacts__title {
  margin: 0;
  margin-bottom: 42px;
  padding: 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  color: $color-black;
}

.contacts__list {
  margin: 0;
  margin-bottom: 42px;
  padding: 0;
  font-size: 15px;
  line-height: 30px;
  color: $color-brown;
}

.contacts__parameter {
  width: 78px;
  vertical-align: top;
}

.contacts__button {
  display: block;
  padding: 20px 52px;
  margin-top: 39px;
}

@media (min-width: $tablet-width) {
  .contacts {
    margin-left: 51px;
    margin-right: 90px;
    margin-bottom: 57px;
  }

  .contacts__title {
    font-size: 43px;
  }

  .contacts__list {
    margin-bottom: 61px;
  }

  .contacts__button {
    display: block;
    padding: 20px 41px;
    margin-top: 55px;
    margin-left: 271px;
    margin-right: 271px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    margin-left: 224px;
    margin-right: 51px;
    margin-bottom: 105px;
    overflow: hidden;
    position: relative;
  }

  .contacts__title {
    font-size: 53px;
  }

  .contacts__map {
    position: absolute;
    right: 100px;
    top: 100px;
  }

  .contacts__pin {
    position: absolute;
    right: 150px;
    top: 100px;
  }
}
