.contacts {
  margin-bottom: 39px;
  position: relative;
}

.contacts__title {
  margin: 0;
  margin-bottom: 42px;
  padding: 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  color: $color-black;
}

.contacts__list {
  margin: 0;
  margin-bottom: 42px;
  padding: 0;
  font-size: 15px;
  line-height: 30px;
  color: $color-brown;
}

.contacts__parameter {
  width: 78px;
  vertical-align: top;
}

.contacts__map {
  width: 100%;
  margin-left: -30px;
}

.contacts__pin {
  position: absolute;
  right: 188px;
  top: 377px;
}

.contacts__button {
  display: block;
  padding: 20px 52px;
  margin-top: 39px;
}

@media (min-width: $tablet-width) {
  .contacts {
    margin-bottom: 57px;
    position: relative;
  }

  .contacts__title {
    font-size: 43px;
  }

  .contacts__list {
    margin-bottom: 61px;
  }

  .contacts__list tbody {
    display: flex;
    justify-content: space-between;
  }

  .contacts__map {
    width: 100%;
    margin-left: -60px;
  }

  .contacts__pin {
    position: absolute;
    right: 380px;
    top: 366px;
  }

  .contacts__button {
    display: block;
    width: 35%;
    padding: 20px 0;
    margin-top: 55px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    margin-right: 51px;
    margin-bottom: 105px;
    overflow: hidden;
    position: relative;
  }

  .contacts::before {
    background: url("../img/icon-flag.svg") no-repeat center;
    position: absolute;
    content: "";
    top: 0;
    left: -170px;
    width: 47px;
    height: 81px;
  }

  .contacts__list tbody {
    display: table;
    justify-content: space-between;
  }

  .contacts__title {
    font-size: 53px;
  }

  .contacts__map {
    position: absolute;
    right: 0;
    top: 0;
  }

  .contacts__pin {
    position: absolute;
    right: 228px;
    top: 134px;
  }

  .contacts__button {
    margin-left: 0;
  }
}
