.copyright {
  text-align: center;
  padding-top: 28px;
}

.copyright__text {
  font-size: 19px;
  font-weight: bold;
  line-height: 18px;
  color: $color-black;
}

.copyright__text:active {
  color: rgba($color-black, 0.3);
}

.copyright__logo {
  padding-left: 30px;
  margin-bottom: -10px;
}

.copyright__link {
  color: $color-blue;
  height: 34px;
  width: 102px;
}

.copyright__link:hover {
  color: $color-greeny-blue;
}

.copyright__link:active {
  color: rgba($color-greeny-blue, 0.3);
}

@media (min-width: $tablet-width) {
  .copyright {
    padding: 0;
  }
}
