.devider {
  margin-bottom: 34px;
}

.devider--wide {
  margin-bottom: 44px;
}

@media (min-width: $tablet-width) {
  .devider {
    margin-bottom: 60px;
  }

  .devider--wide {
    margin-bottom: 72px;
  }
}

@media (min-width: $tablet-width) {
  .devider {
    margin-bottom: 70px;
  }

  .devider--wide {
    margin-bottom: 152px;
  }
}
