.divider {
  border: none;
  margin: 0;
  background: url("../img/bg-zigzag-line.svg") repeat center;
  background-size: contain;
  height: 6px;
}

@media (min-width: $tablet-width) {
  .divider {
    height: 15px;
  }
}

@media (min-width: $desktop-width) {
  .divider {
    @include container;
    height: 23px;
  }
}
