.goods {
  @include container-mobile;
}

.goods__list {
  @include reset-list;
}

.goods__img {
  width: 100%;
  display: block;
}

.goods__info {
  padding: 0 28px;
  padding-top: 26px;
  padding-bottom: 27px;
  margin-bottom: 30px;
  border: 1px solid $color-gray;
}

.goods__info:hover {
  box-shadow: (0 6px 10px 0 rgba($color-black, 0.1));
}

.goods__info:active {
  box-shadow: (0 3px 5px 0 rgba($color-black, 0.1));
}

.goods__title {
  display: block;
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  color: $color-black;
}

.goods__title:hover {
  color: rgba($color-black, 0.6);
}

.goods__title:active {
  color: rgba($color-black, 0.3);
}

.goods__text {
  display: block;
  margin: 0;
  padding: 0;
  padding-bottom: 19px;
  font-size: 13px;
  line-height: 30px;
  color: $color-brown;
}

.goods__price {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-weight: bold;
  line-height: 24px;
  color: $color-black;
  display: inline-block;
}

.goods__cart {
  opacity: 0.2;
}

.goods__cart:hover {
  color: $color-blue;
  opacity: 1;
}

.goods__cart:active {
  color: $color-blue;
  opacity: 0.3;
}

.goods__buy {
  padding-top: 21px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $color-gray;
}

@media (min-width: $tablet-width) {
  .goods {
    @include container;
  }

  .goods__item {
    display: flex;
    margin-bottom: 54px;
  }

  .goods__info {
    margin: 0;
    padding-top: 26px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .goods__title {
    margin-bottom: 5px;
    font-size: 20px;
  }

  .goods__text {
    font-size: 15px;
    padding: 0;
  }

  .goods__buy {
    margin-bottom: -3px;
    margin-left: 2px;
  }

  .goods__price {
    font-size: 17px;
  }
}

@media (min-width: $desktop-width) {
  .goods__item {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .goods__list {
    display: flex;
    justify-content: space-between;
  }

  .goods__info {
    margin: 0;
    padding-left: 25px;
    padding-top: 25px;
  }

  .goods__text {
    margin-bottom: 15px;
  }

  .goods__buy {
    margin-bottom: -1px;
    margin-left: 0;
  }

  .goods {
    margin-bottom: 57px;
  }
}
