.hit-sale {
  @include container-mobile;
  padding-bottom: 36px;
}

.hit-sale__title {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
  color: $color-black;
}

.hit-sale__subtitle {
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 20px;
  color: $color-blue;
}

.hit-sale__text {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  font-size: 15px;
  line-height: 24px;
  color: $color-brown;
}

.hit-sale__description {
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
  font-size: 15px;
  line-height: 20px;
  color: $color-brown;
  width: 100%;
  border-collapse: collapse;
}

.hit-sale__parameter {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 67px;
}

.hit-sale__value {
  padding-left: 30px;
}

.hit-sale__parameter,
.hit-sale__value {
  border-bottom: 1px solid $color-gray;
}

.hit-sale__img {
  width: 100%;
  margin-bottom: 20px;
}

.hit-sale__price {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
  color: $color-brown;
}

.hit-sale__button {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 17px;
  width: 100%;
}

.hit-sale__form-container {
  width: 100%;
  height: 100%;
  background-color: rgba(#ffffff, $alpha: 0.9);
}

.hit-sale__form {
  padding-top: 36px;
  padding-bottom: 36px;
  padding-left: 30px;
  padding-right: 30px;
  max-width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  border: 1px solid red($color: #000000);
  background-color: rgba(#ffffff, $alpha: 0.9);
}

.hit-sale__form--hidden {
  display: none;
}

.hit-sale__form-title {
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  width: 200px;
  margin: 0 auto;
  padding-bottom: 25px;
}

.hit-sale__form-text {
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  width: 200px;
  margin: 0 auto;
  color: $color-brown;
  padding-bottom: 25px;
}

.hit-sale__form-buttons {
  display: flex;
  justify-content: space-between;
  padding-bottom: 31px;
}

.hit-sale__form-button {
  padding: 20px 34px;
  border: 2px solid rgba($color-brown, 0.1);
}

.hit-sale__form-button:hover {
  border: 2px solid rgba($color-brown, 0.3);
  background-color: $color-white;
  color: $color-brown;
}

.hit-sale__form-button:active {
  background-color: $color-white;
  color: $color-brown;
  border: 2px solid $color-blue;
}

.hit-sale__button-order {
  color: $color-white;
  background-color: $color-blue;
  width: 100%;
  padding: 20px 0;
  border: none;
}

@media (min-width: $tablet-width) {
  .hit-sale {
    @include container;
    padding-bottom: 53px;
  }

  .hit-sale__header {
    display: flex;
    justify-content: space-between;
  }

  .hit-sale__column {
    padding-right: 57%;
    position: relative;
  }

  .hit-sale__title {
    margin-bottom: 61px;
    font-size: 43px;
  }

  .hit-sale__text {
    margin-bottom: 36px;
    font-size: 17px;
    line-height: 29px;
  }

  .hit-sale__description {
    margin-bottom: 55px;
  }

  .hit-sale__parameter {
    width: 22%;
  }

  .hit-sale__subtitle {
    width: 128px;
    text-align: center;
  }

  .hit-sale__price {
    margin-bottom: 34px;
    font-size: 20px;
  }

  .hit-sale__img {
    position: absolute;
    top: 7px;
    right: 0;
    width: 333px;
    height: 404px;
    margin: 0;
  }

  .hit-sale__button {
    width: 101%;
    padding: 14px 0;
  }

  .hit-sale__form {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    max-width: 768px;
    margin: 0 auto;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 3;
    background-color: rgba(#ffffff, $alpha: 0.9);
    border: 1px solid red($color: #000000);
  }
}

@media (min-width: $desktop-width) {
  .hit-sale {
    @include content-container;
    padding-bottom: 73px;
  }

  .hit-sale__column {
    padding-right: 69%;
  }

  .hit-sale__img {
    position: absolute;
    width: 525px;
    height: auto;
    top: -157px;
    right: 50px;
    z-index: -1;
  }

  .hit-sale__header {
    position: relative;
  }

  .hit-sale__title {
    font-size: 53px;
    margin-right: auto;
    margin-left: -6px;
    order: 2;
  }

  .hit-sale__subtitle {
    order: 1;
    margin-left: -110px;
    position: absolute;
    content: "Товар недели";
    top: -4px;
    left: -49px;
  }

  .hit-sale__text {
    margin-bottom: 49px;
  }

  .hit-sale__description {
    margin-bottom: 109px;
  }

  .hit-sale__parameter {
    width: 20%;
  }

  .hit-sale__button {
    margin-bottom: 0;
  }

  .hit-sale__form {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    max-width: 1150px;
    margin: 0 auto;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 3;
    background-color: rgba(#ffffff, $alpha: 0.9);
    border: 1px solid red($color: #000000);
  }
}
