.hit-sale__title {
  margin: 0;
  padding: 0;
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
  text-align: left;
  color: #000000;
}

.hit-sale__subtitle {
  margin: 0;
  padding: 0;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  text-align: left;
  color: #63d1bb;
}

.hit-sale__text {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 24px;
  text-align: left;
  color: #444444;
}

.hit-sale__description {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: normal;
  text-align: left;
  color: #444444;
}

.hit-sale__parameter {
  margin: 0;
  padding: 0;
  width: 67px;
}

.hit-sale__parameter,
.hit-sale__value {
  border-bottom: 1px solid #ececec;
}

.hit-sale__price {
  margin: 0;
  padding: 0;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
  color: #444444;
}

.hit-sale__button {
  font-size: 17px;
}
