.info {
  margin-bottom: 61px;
}

.info__title {
  margin: 0;
  padding: 0;
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
  color: $color-black;
}

.info__list {
  @include reset-list;
}

.info__item {
  margin: 0;
  padding: 0;
  padding-top: 85px;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  color: $color-black;
}

@media (min-width: $tablet-width) {
  .info {
    margin-bottom: 168px;
  }

  .info__title {
    font-size: 43px;
  }

  .info__list {
    column-count: 2;
  }

  .info__item {
    padding-top: 112px;
    font-size: 20px;
  }
}

@media (min-width: $desktop-width) {
  .info {
    margin-bottom: 169px;
  }

  .info__title {
    font-size: 53px;
  }

  .info__list {
    column-count: 2;
  }

  .info__item {
    font-size: 20px;
  }

  .info__item--flower,
  .info__item--clew {
    padding-top: 101px;
  }
}
