.info {
  @include container-mobile;
  padding-bottom: 50px;
  padding-top: 27px;
}

.info__title {
  margin: 0;
  padding: 0;
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
  color: $color-black;
}

.info__list {
  @include reset-list;
}

.info__item {
  margin: 0;
  padding: 0;
  padding-top: 84px;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  color: $color-black;
}

.info__item--flower {
  position: relative;
}

.info__item--flower::after {
  background: url("../img/icon-feature-flower.svg") no-repeat center;
  content: "";
  position: absolute;
  width: 32px;
  height: 37px;
  top: 30px;
  left: 9px;
}

.info__item--money {
  position: relative;
}

.info__item--money::after {
  background: url("../img/icon-feature-money.svg") no-repeat center;
  content: "";
  position: absolute;
  width: 47px;
  height: 30px;
  top: 28px;
  left: 1px;
}

.info__item--heart {
  position: relative;
}

.info__item--heart::after {
  background: url("../img/icon-feature-heart.svg") no-repeat center;
  content: "";
  position: absolute;
  width: 34px;
  height: 27px;
  top: 34px;
  left: 8px;
}

.info__item--ball {
  position: relative;
}

.info__item--ball::after {
  background: url("../img/icon-feature-ball.svg") no-repeat center;
  content: "";
  position: absolute;
  width: 35px;
  height: 34px;
  top: 32px;
  left: 3px;
}

.info__item--rocket {
  position: relative;
}

.info__item--rocket::after {
  background: url("../img/icon-feature-rocket.svg") no-repeat center;
  content: "";
  position: absolute;
  width: 55px;
  height: 23px;
  top: 30px;
  left: -6px;
}

.info__item--present {
  position: relative;
}

.info__item--present::after {
  background: url("../img/icon-feature-gift.svg") no-repeat center;
  content: "";
  position: absolute;
  width: 33px;
  height: 32px;
  top: 28px;
  left: 2px;
}

@media (min-width: $tablet-width) {
  .info {
    @include container;
    padding-bottom: 82px;
    padding-top: 60px;
  }

  .info__title {
    margin-left: -5px;
    font-size: 43px;
  }

  .info__list-container {
    display: flex;
    justify-content: space-between;
  }

  .info__list--second {
    padding-left: 12px;
  }

  .info__item {
    padding-top: 115px;
    font-size: 20px;
  }

  .info__item--flower::after {
    top: 60px;
  }

  .info__item--money::after {
    top: 59px;
  }

  .info__item--heart::after {
    top: 65px;
  }

  .info__item--ball::after {
    top: 62px;
    left: 2px;
  }

  .info__item--rocket::after {
    top: 63px;
  }

  .info__item--present::after {
    top: 61px;
  }
}

@media (min-width: $desktop-width) {
  .info {
    @include narrow-container;
    padding-bottom: 89px;
    padding-top: 70px;
  }

  .info__title {
    font-size: 53px;
  }

  .info__item {
    font-size: 20px;
  }

  .info__item--flower,
  .info__item--clew {
    padding-top: 101px;
  }
}
