.main-nav {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  color: $color-black;
}

.main-nav__toggle {
  position: absolute;
  top: -50px;
  right: 30px;
  width: 22px;
  height: 16px;
  background-color: transparent;
  color: transparent;
  border: none;
  cursor: pointer;
}

.main-nav__toggle::before {
  background: url("../img/icon-menu-open.svg") no-repeat center;
  content: "";
  width: 20px;
  height: 14px;
  position: absolute;
  top: 0;
  right: 0;
}

.main-nav--opened .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 21px;
  height: 20px;
  background: url("../img/icon-menu-close.svg") no-repeat center;
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .site-list {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 17px;
    font-weight: bold;
    line-height: 24px;
    color: $color-black;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    display: flex;
    position: static;
  }
}
