@mixin reset-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin container-mobile {
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  max-width: 1150px;
  box-sizing: border-box;
}

@mixin container {
  padding-left: 50px;
  padding-right: 50px;
  margin: 0 auto;
  max-width: 1150px;
  box-sizing: border-box;
}

@mixin content-container {
  padding-left: 225px;
  padding-right: 0;
  margin: 0 auto;
  max-width: 1150px;
  box-sizing: border-box;
}

@mixin container-desktop {
  padding-left: 114px;
  padding-right: 225px;
  margin: 0 auto;
  max-width: 1150px;
  box-sizing: border-box;
}

@mixin container-desktop-wide {
  padding-left: 114px;
  padding-right: 198px;
  margin: 0 auto;
  max-width: 1150px;
  box-sizing: border-box;
}
