.order-form__title {
  margin: 0;
  padding: 0;
  font-size: 17px;
  font-weight: bold;
  line-height: 16px;
  text-align: left;
  color: #63d1bb;
}

.order-form__text {
  margin: 0;
  padding: 0;
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
  text-align: left;
  color: #000000;
}

.order-form__input {
  font-size: 17px;
  line-height: 18px;
  text-align: left;
  color: rgba(68, 68, 68, 0.3);
}

.order-form__text--necessary {
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  color: #444444;
}
