.page-main__text {
  @include container-mobile;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 24px;
  color: $color-brown;
}

@media (min-width: $tablet-width) {
  .page-main__text {
    font-size: 17px;
    line-height: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 3px;
  }
}

@media (min-width: $desktop-width) {
  .page-main__text {
    max-width: 672px;
  }
}
