.page-main {
  margin: 0;
  padding: 0;
  padding-left: 30px;
  padding-right: 30px;
  max-width: 1150px;
}

.page-main__text {
  margin-left: 30px;
  margin-bottom: 0;
  margin-right: 48px;
  font-size: 13px;
  line-height: 24px;
  color: $color-brown;
}

@media (min-width: $tablet-width) {
  .page-main {
    padding-left: 52px;
    padding-right: 52px;
  }
}

@media (min-width: $desktop-width) {
  .page-main {
    padding-left: 50px;
    padding-right: 50px;
  }

  .page-main__container {
    padding: 0;
    margin: 0;
    margin-left: 175px;
  }
}
