.page-footer__logo-image {
  display: none;
}

.page-footer {
  background-color: $color-gray;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 58px;
    padding-top: 51px;
  }

  .page-footer__logo-image {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__logo-image {
    margin-right: 159px;
  }
}
