.page-footer__wrapper {
  padding-top: 30px;
}

.page-footer__logo-image {
  display: none;
}

.page-footer {
  background-color: $color-gray;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    @include container;
    display: flex;
    justify-content: space-between;
    padding-top: 51px;
  }

  .page-footer__logo-image {
    display: block;
    height: 34px;
    width: 102px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__logo-image {
    margin-right: 159px;
  }
}
