.page-footer__logo-image {
  display: none;
}

.page-footer {
  background-color: $color-gray;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1150px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 51px;
  }

  .page-footer__logo-image {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__logo-image {
    margin-right: 159px;
  }
}
