.page-header {
  position: relative;
  margin: 0;
  margin-left: 30px;
  margin-right: 30px;
  padding: 0;
  border-bottom: 1px solid $color-gray;
  max-width: 1150px;
}

.page-header__text {
  display: none;
}

.page-header__logo img {
  width: 86px;
  height: 35px;
}

.page-header__logo-image--mobile {
  display: block;
  width: 86px;
  height: auto;
  margin: 22px auto;
}

.page-header__logo-image--tablet,
.page-header__logo-image--desktop {
  display: none;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .page-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-left: 51px;
    padding-right: 51px;
    border-bottom: none;
  }

  .page-header__text {
    display: inline;
    position: absolute;
    content: "";
    right: 66px;
    bottom: -54px;
    margin: 0;
    padding: 0;
  }

  .page-header__logo {
    height: 88px;
  }

  .page-header__logo img {
    width: 115px;
    height: 46px;
  }

  .page-header__logo-image--tablet {
    display: block;
  }

  .page-header__logo-image--mobile {
    display: none;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    padding-left: 51px;
    padding-right: 51px;
    border-bottom: none;
  }

  .page-header__logo img {
    width: 149px;
    height: 72px;
  }

  .page-header__logo-image--desktop {
    display: block;
    position: absolute;
    z-index: 10;
    left: 540px;
    top: 30px;
  }

  .page-header__logo-image--mobile,
  .page-header__logo-image--tablet {
    display: none;
  }

  .main-nav__toggle {
    display: none;
  }

  .page-header__text {
    display: inline;
    position: absolute;
    content: "";
    right: 66px;
    bottom: -54px;
    margin: 0;
    padding: 0;
  }
}
