.promo {
  background-color: $color-gray;
  margin-bottom: 30px;
}

/*.promo--toys {
  background: url("../img/hero-mobile@1x.jpg") no-repeat center;
}*/

.promo__wrapper {
  @include container-mobile;
}

.promo__title {
  margin: 0;
  padding: 75px 43px;
  font-size: 27px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
  color: $color-black;
}

.promo__buttons {
  margin-bottom: 34px;
}

.promo__button {
  margin: 0;
  padding: 30px;
  font-size: 19px;
  font-weight: bold;
  line-height: 24px;
  color: $color-white;
  display: block;
}

.promo__button--style-1 {
  background-color: $color-blue;
}

.promo__button--style-2 {
  background-color: $color-dark-blue;
}

@media (min-width: $tablet-width) {
  .promo {
    margin-bottom: 80px;
  }

  .promo__wrapper {
    @include container;
  }

  .promo--toys {
    margin-bottom: 55px;
  }

  .promo--toys .promo__title {
    text-align: center;
    padding-bottom: 490px;
  }

  .promo__title {
    padding-bottom: 78px;
    padding-top: 106px;
  }

  .promo__buttons {
    display: flex;
  }

  .promo__button {
    text-align: center;
  }

  .promo__button--style-1 {
    padding-right: 187px;
  }

  .promo__button--style-2 {
    padding-right: 204px;
  }
}

@media (min-width: $desktop-width) {
  .promo__title {
    padding-top: 76px;
    padding-bottom: 74px;
  }

  .promo--toys .promo__title {
    padding-top: 161px;
    padding-bottom: 473px;
  }

  .promo__buttons {
    @include container;
  }

  .promo__button--style-1 {
    padding-right: 377px;
  }

  .promo__button--style-2 {
    padding-right: 395px;
  }
}
