.promo {
  background-color: $color-gray;
  margin-bottom: 27px;
  border-top: 1px solid $color-gray;
}

.promo__wrapper {
  @include container-mobile;
}

.promo--toys {
  background: $color-gray url("../img/hero-mobile@1x.jpg") no-repeat top;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: 575px auto;
    background-position-y: -18px;
  }
}

.promo--toys .promo__title {
  padding-top: 70px;
  padding-bottom: 123px;
  text-align: center;
  margin: 0 auto;
}

.promo__title {
  margin: 0;
  padding: 75px 0;
  font-size: 27px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
  color: $color-black;
}

.promo__buttons {
  margin: 0 -30px;
}

.promo__button {
  margin: 0;
  padding-left: 28px;
  padding-right: 180px;
  padding-top: 25px;
  padding-bottom: 30px;
  font-size: 19px;
  font-weight: bold;
  line-height: 24px;
  color: $color-white;
  display: block;
  position: relative;
}

.promo__button:hover {
  margin-top: -5px;
  color: rgba($color-white, 0.7);
}

.promo__button--style-1:hover::after,
.promo__button--style-2:hover::after {
  opacity: 0.7;
}

.promo__button:active {
  color: rgba($color-white, 0.3);
}

.promo__button--style-1:active::after,
.promo__button--style-2:active::after {
  opacity: 0.3;
}

.promo__button--style-1 {
  background-color: $color-blue;
}

.promo__button--style-1::after {
  background: url("../img/icon-interior.svg") no-repeat center;
  content: "";
  position: absolute;
  width: 40px;
  height: 62px;
  opacity: 0.5;
  top: 22px;
  right: 35px;
}

.promo__button--style-2 {
  background-color: $color-dark-blue;
}

.promo__button--style-2::after {
  background: url("../img/icon-toy.svg") no-repeat center;
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  opacity: 0.5;
  top: 20px;
  right: 26px;
}

@media (min-width: $tablet-width) {
  .promo {
    margin-bottom: 80px;
  }

  .promo__wrapper {
    @include container;
  }

  .promo--toys {
    position: relative;
    margin-bottom: 55px;
    background: url("../img/hero-tablet.jpg") no-repeat top;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
      background-size: 1150px auto;
    }
  }

  .promo--toys .promo__title {
    text-align: center;
    padding-bottom: 375px;
    padding-top: 154px;
    font-size: 43px;
    line-height: 48px;
  }

  .promo__title {
    padding-bottom: 78px;
    padding-top: 106px;
  }

  .promo__buttons {
    display: flex;
    width: 100%;
    margin: 0;
  }

  .promo__button {
    width: 50%;
    letter-spacing: 0.3px;
    padding-left: 37px;
    padding-right: 170px;
    padding-top: 30px;
    line-height: 29px;
    text-align: left;
  }

  .promo__button--style-1::after {
    top: 30px;
  }

  .promo__button--style-2::after {
    top: 33px;
    right: 35px;
  }

  .promo--toys::after {
    background: url("../img/bg-zigzag-fill.svg") repeat center;
    content: "";
    position: absolute;
    height: 34px;
    bottom: -20px;
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .promo__wrapper {
    @include container;
    margin-bottom: 140px;
  }

  .promo--toys {
    margin-bottom: 0;
    background: url("../img/hero-desktop@1x.jpg") no-repeat top;
    background-color: #f9f9f9;
    background-position-x: 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
      background-size: 1150px auto;
    }
  }

  .promo__title {
    padding-top: 76px;
    padding-bottom: 74px;
  }

  .promo--toys .promo__title {
    padding-top: 152px;
    padding-bottom: 358px;
    font-size: 53px;
    line-height: 57px;
  }

  .promo__button {
    padding-right: 370px;
  }
}
