.radio .form__text {
  min-height: 53px;
  display: flex;
  align-items: center;
  padding-bottom: 0;
}

.radio:first-child {
  margin-bottom: -2px;
}

@media (min-width: $tablet-width) {
  .radio:last-child .form__text {
    padding-bottom: 0;
  }

  .radio .form__text {
    padding-bottom: 57px;
    padding-left: 80px;
    min-height: 53px;
    font-size: 18px;
    line-height: 20px;
  }
}
