.reviews {
  margin-bottom: 45px;
}

.reviews__title {
  margin: 0;
  margin-bottom: 38px;
  padding: 0;
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
  color: $color-black;
}

.reviews__text {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  font-size: 15px;
  line-height: 30px;
  color: $color-brown;
}

.reviews__name {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  color: $color-black;
}

.reviews__nick {
  margin: 0;
  margin-bottom: 36px;
  padding: 0;
  font: inherit;
  line-height: 30px;
  color: $color-brown;
  display: block;
}

.review__button {
  padding: 20px 0;
  font-size: 18px;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .reviews {
    margin-bottom: 122px;
    position: relative;
  }

  .reviews__title {
    font-size: 43px;
  }

  .reviews__text {
    font-size: 17px;
    margin-bottom: 68px;
  }

  .review__button {
    font-size: 17px;
    position: absolute;
    right: 52px;
    top: 0;
    width: 26%;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    margin-right: 50px;
    margin-bottom: 169px;
  }

  .reviews__title {
    font-size: 53px;
    position: relative;
    z-index: 1;
  }

  .reviews::before {
    background: url("../img/review@1x.jpg") no-repeat center;
    position: absolute;
    content: "";
    z-index: 0;
    top: -52px;
    left: -170px;
    width: 350px;
    height: 457px;
  }

  .reviews__text {
    margin-bottom: 49px;
    margin-right: 157px;
  }
}
