.reviews__title {
  margin: 0;
  padding: 0;
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
  color: $color-black;
}

.reviews__text {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 30px;
  color: $color-brown;
}

.reviews__name {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  color: $color-black;
}

.reviews__nick {
  margin: 0;
  padding: 0;
  font: inherit;
  line-height: 30px;
  color: $color-brown;
}
