.reviews {
  @include container-mobile;
  margin-bottom: 45px;
}

.reviews__title {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
  color: $color-black;
}

.reviews__text {
  margin: 0;
  margin-bottom: 27px;
  padding: 0;
  font-size: 15px;
  line-height: 30px;
  color: $color-brown;
}

.reviews__name {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  color: $color-black;
}

.reviews__nick {
  letter-spacing: 0.5px;
  margin: 0;
  margin-top: 3px;
  margin-bottom: 30px;
  padding: 0;
  font: inherit;
  line-height: 30px;
  color: $color-brown;
  display: block;
}

.review__button {
  text-transform: uppercase;
  padding: 14px 0;
  font-size: 18px;
  width: 99%;
}

@media (min-width: $tablet-width) {
  .reviews {
    @include container;
    padding-top: 90px;
    padding-bottom: 85px;
    position: relative;
  }

  .reviews::before {
    background: url("../img/review@1x.jpg") no-repeat center;
    position: absolute;
    content: "";
    z-index: 0;
    top: 3px;
    left: 0;
    width: 350px;
    height: 457px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../img/review@2x.jpg") no-repeat top;
      background-size: 350px auto;
    }
  }

  .reviews__title {
    margin-left: -5px;
    margin-bottom: 59px;
    font-size: 43px;
    position: relative;
    z-index: 1;
  }

  .reviews__text {
    font-size: 17px;
    margin-bottom: 58px;
  }

  .review__button {
    padding: 14px 38px;
    font-size: 17px;
    position: absolute;
    right: 0;
    bottom: 100%;
    margin-bottom: 45px;
    width: auto;
  }

  .reviews__name {
    letter-spacing: 0.7px;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    @include content-container;
    padding-bottom: 169px;
    position: relative;
  }

  .reviews::before {
    top: 0;
    left: 0;
  }

  .reviews__title {
    font-size: 53px;
  }

  .reviews__text {
    margin-bottom: 49px;
    margin-right: 157px;
  }

  .review__button {
    right: 0;
  }
}
