.site-list {
  @include reset-list;
}

.site-list a {
  color: $color-black;
}

.site-list__item {
  margin: 0;
  color: $color-black;
  border-bottom: 1px solid $color-gray;
}

.site-list__link {
  padding: 32px 70px;
  display: block;
}

.site-list__item:first-child {
  border-top: 1px solid $color-gray;
}

.site-list__item:last-child {
  border-bottom: none;
}

.site-list__item:hover {
  opacity: 0.6;
}

.site-list__item:active {
  opacity: 0.3;
}

.site-list--third {
  display: none;
}

.site-list__icon-search {
  display: none;
}

.site-list__icon-cart {
  display: none;
}

.site-list__text-cart {
  display: none;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .site-list {
    margin: 0;
    display: flex;
    justify-content: flex-start;
  }

  .site-list__link {
    padding: 0;
  }

  .site-list--first {
    position: absolute;
    left: 50px;
    top: 100%;
    z-index: 1;
  }

  .site-list__item {
    margin: 0;
    padding: 32px 0;
    border-bottom: none;
  }

  .site-list--first .site-list__item {
    font-size: 15px;
  }

  .site-list--second .site-list__item {
    font-size: 17px;
  }

  .site-list--first .site-list__item:first-child {
    padding-right: 37px;
  }

  .site-list--second .site-list__item:first-child {
    padding-left: 33px;
    padding-right: 31px;
    border-left: 2px solid $color-gray;
    border-right: 2px solid $color-gray;
  }

  .site-list--second .site-list__item:last-child {
    padding-left: 31px;
  }

  .site-list__text-cart {
    display: inline;
  }

  .site-list__item:first-child {
    border-top: none;
  }

  .site-list--third {
    display: none;
  }

  .site-list__text-search {
    display: none;
  }

  .site-list__icon-search {
    display: block;
  }

  .site-list__item:hover .site-list__icon-search {
    color: $color-blue;
  }

  .site-list__item:active .site-list__icon-search {
    color: rgba($color-blue, 0.3);
  }

  .site-list__item:hover .site-list__icon-cart {
    color: $color-blue;
  }

  .site-list__item:active .site-list__icon-cart {
    color: rgba($color-blue, 0.3);
  }

  .site-list__icon-cart {
    display: inline-block;
    padding-right: 15px;
  }

  .site-list__text-cart-type2 {
    display: inline-block;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    display: flex;
    justify-content: space-between;
  }

  .site-list__link {
    padding: 36px 0;
  }

  .site-list__item:hover .site-list__icon-search {
    color: $color-blue;
  }

  .site-list__item:active .site-list__icon-search {
    color: rgba($color-blue, 0.3);
  }

  .site-list__item:hover .site-list__icon-cart {
    color: $color-blue;
  }

  .site-list__item:active .site-list__icon-cart {
    color: rgba($color-blue, 0.3);
  }

  .site-list--first {
    width: 50%;
    justify-content: flex-start;
  }

  .site-list--second {
    width: 50%;
    justify-content: flex-end;
  }

  .site-list--first .site-list__item,
  .site-list--second .site-list__item {
    font-size: 17px;
  }

  .site-list--third .site-list__item {
    font-size: 15px;
  }

  .site-list__text-cart {
    display: inline;
  }

  .site-list--first .site-list__item:first-child {
    padding-right: 35px;
    border-right: 2px solid $color-gray;
  }

  .site-list--first .site-list__item:last-child {
    padding-left: 35px;
  }

  .site-list--second .site-list__item {
    display: flex;
    justify-content: flex-end;
  }

  .site-list__item {
    margin: 0;
    border-bottom: none;
  }

  .site-list__item:first-child {
    border-top: none;
  }

  .site-list--third {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    left: 0;
    top: 100%;
    width: 50%;
    z-index: 1;
  }

  .site-list--third .site-list__item:first-child {
    padding-right: 60px;
  }

  .site-list__text-search {
    display: none;
  }

  .site-list__icon-search {
    display: block;
  }

  .site-list__icon-search:hover {
    fill: $color-blue;
  }

  .site-list__icon-search:active {
    fill: rgba($color-blue, 0.3);
  }

  .site-list--second .site-list__item:first-child {
    padding-right: 32px;
    padding-left: 32px;
    border-left: 2px solid $color-gray;
    border-right: 2px solid $color-gray;
  }

  .site-list--second .site-list__item:last-child {
    padding-left: 32px;
  }

  .site-list__text-cart-type1 {
    display: none;
  }

  .site-list__icon-cart {
    display: inline-block;
    padding-right: 33px;
  }

  .site-list__text-cart-type2 {
    display: inline-block;
  }
}
