.site-list {
  @include reset-list;
}

.site-list a {
  color: $color-black;
}

.site-list__item {
  margin: 0;
  padding: 32px 70px;
  color: $color-black;
  border-bottom: 1px solid $color-gray;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .site-list {
    margin: 0;
    display: flex;
    justify-content: flex-start;
  }

  .site-list--first {
    position: absolute;
    left: 52px;
    top: 100%;
  }

  .site-list__item {
    margin: 0;
    padding: 32px 10px;
    border-bottom: none;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    display: flex;
    justify-content: space-between;
  }

  .site-list--first {
    width: 50%;
    justify-content: flex-start;
  }

  .site-list--second {
    width: 50%;
    justify-content: flex-end;
  }

  .site-list__item {
    margin: 0;
    padding: 36px 0;
    border-bottom: none;
    width: 50%;
  }
}
