.social {
  @include reset-list;
  display: flex;
  justify-content: space-between;
  margin-bottom: 58px;
  padding-top: 30px;
  width: 141px;
  align-items: center;
  margin-left: 33%;
}

.social__link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: red;
}
