.social {
  @include reset-list;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
}

.social-wrapper {
  margin-left: 30px;
  margin-right: 30px;
  padding-bottom: 23px;
  border-bottom: 1px solid $color-light-gray;
}

.social__item {
  padding-right: 41px;
  padding-left: 0;
}

.social__item:last-child {
  padding-right: 0;
}

.social__link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: currentColor;
}

.social__link:hover {
  color: $color-greeny-blue;
}

.social__link:active {
  color: rgba($color-greeny-blue, 0.3);
}

@media (min-width: $tablet-width) {
  .social-wrapper {
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 0;
    padding-left: 80px;
    padding-top: 8px;
    border-bottom: none;
  }
}
