$font-open-sans: "Open Sans","Arial",sans-serif;
$color-black: #000000;
$color-brown: #444444;
$color-white: #ffffff;
$color-gray: #ececec;
$color-blue: #63d1bb;
$color-dark-blue: #56c3b2;
$color-light-gray: rgba(68, 68, 68, 0.3);
